<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">WorkOut Elements</h4>
        </div>
        <!--end page-title-box-->
    </div>
    <!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit WorkOut</h4>
            </div>
            <!--end card-header-->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-sm-3 col-form-label text-end">Title</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" [(ngModel)]="title" id="example-text-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <label for="example-time-input" class="col-sm-3 col-form-label text-end">Warm Up</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" [(ngModel)]="warmUp" id="example-time-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-sm-3 col-form-label text-end">Exercise</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" [(ngModel)]="exercise" id="example-text-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <label for="example-time-input" class="col-sm-3 col-form-label text-end">Streching</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" [(ngModel)]="streching" id="example-time-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <label for="example-time-input" class="col-sm-3 col-form-label text-end">Days</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" [(ngModel)]="day" id="example-time-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3 row">
                            <div class="col-sm-8">
                                <label for="example-time-input" class="col-sm-1 col-form-label text-end"></label>
                                <button class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->